*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background-color: rgb(206, 206, 206);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}